@page
@model Zammers.Pages.bookcartModel
@{
}

<h1>Shopping Cart</h1>

<table class="table table-dark table-bordered border-success">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Delete</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model.basket.Items)
            {
                <tr>
                    <td>@t.Book.Title</td>
                    <td>@t.Quantity</td>
                    <td>$@t.Book.Price</td>
                    <td>@t.SubTotal.ToString("c")</td>
                    <td class="text-capitalize"><form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@t.Book.BookId"/>
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                        <button class="btn btn-warning">Delete</button>
                         </form></td>
                    <td>ICON GOES HERE</td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Total</td>
            <td>@Model.basket.CalcTotal().ToString("c")</td>
        </tr>

    </tfoot>
</table>

@*Addinreturn button*@
<div>
    <a class="btn btn-outline-dark" href="@Model.ReturnUrl">Continue Donating</a>
    <a class="btn btn-outline-dark" asp-controller="Checkout" asp-action="Checkout">Chectout</a>
</div>