@page
@model Zammers.Pages.bookcartModel
@{
}

<h1>Shopping Cart</h1>

<table class="table table-dark table-bordered border-success">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model.basket.Items)
            {
                <tr>
                    <td>@t.Book.Title</td>
                    <td>@t.Quantity</td>
                    <td>$@t.Book.Price</td>
                    <td>@Model.basket.SubTotal().ToString("c")</td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Total</td>
            <td>@Model.basket.CalcTotal().ToString("c")</td>
        </tr>

    </tfoot>
</table>

@*Addinreturn button*@
<div>
    <a class="btn btn-outline-dark" href="@Model.ReturnUrl">Continue Donating</a>
</div>